[theme='dark'] {
  --primary: #2A2E2D;
  --secondary: #D2D3D5;
  --main-bg: #F7F7F7;
  --navbar: #D2D3D5;
}

[theme='light'] {
  --primary: #fafafb;
  --secondary: #D2D3D5;
  --main-bg: #F7F7F7;
  --navbar: #D2D3D5;
}


