[theme='dark'] {
  --primary: #2A2E2D;
  --secondary: #D2D3D5;
  --background: #D2D3D5;

  --el-color-primary: #2A2E2D;
  --el-button-text-color: #D2D3D5;
}

[theme='light'] {
  --primary: #D2D3D5;
  --secondary: #080808;
  --background: #fff;

  --el-color-primary: #D2D3D5;
  --el-button-text-color: #080808;
}


