[theme="dark"] {
  --primary: #232931;
  --secondary: #393e46;
  --tertiary: #4ecca3;
  --font: #707070;
  --main-bg: #393e46;
  --navbar: #232931;
  --scroll: #222831;
}

[theme="light"] {
  --primary: #fafafb;
  --secondary: #d2d3d5;
  --tertiary: #707070;
  --font: #333639;
  --main-bg: #f7f7f7;
  --navbar: #d2d3d5;
  --scroll: #2a2e2d;
}
